<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="details" ></ion-back-button>
    </ion-buttons>
    <ion-title>Amende</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  


  <ion-card *ngIf="amande">
    <ion-card-header>
      <ion-card-content>Amende: {{amande[0]['Amende']}}</ion-card-content>
      <ion-card-content>Type: {{amande[1]['Type']}}</ion-card-content>
      <ion-card-content>Points: {{amande[2]['Points']}}</ion-card-content>
      <ion-card-content>Minirée: {{amande[3]['Minorée']}}</ion-card-content>
      <ion-card-content>Majorée: {{amande[4]['Majorée']}}</ion-card-content>
      <ion-card-content>Maxima: {{amande[5]['Maxima']}}</ion-card-content>
      <ion-card-content>Description: {{amande[6]['Desc']}}</ion-card-content>
    </ion-card-header>
  
    
  </ion-card>
</ion-content>
