

<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="solde">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Mon solde</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>À propos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>


