<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
      <ion-title>
        Catégories
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col size="4" *ngFor="let item of category">
        <ion-button expand="block" class="btn" color="{{item.color}}" (click)="showSousCategory(item)">
          <i class="{{item.icon}}"></i>
        </ion-button>
        <p>{{item.category}}</p>
      </ion-col>
      
    </ion-row>
    
  </ion-grid>
</ion-content>
