<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="category" ></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 16px;">{{category.name}} <i class="{{category.icon}}"></i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-card color = "{{category.color}}" *ngFor="let item of descriptions" >
    

    
    <ion-card-content (click)="showAmende(item)">
      {{ item["title"] }}
    </ion-card-content>

  </ion-card>
  

</ion-content>
<!--*ngFor="let details of categoryDetails.description"-->