<ion-header>
  <ion-toolbar>
    <ion-icon name="home"></ion-icon>
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" class="btn" color="primary" routerLink="../../category">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Catégories</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" class="btn" color="warning" routerLink="../../points">
          <ion-icon name="keypad-outline"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Points</p>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" class="btn" color="danger">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <p class="ion-text-center">Catégories</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" class="btn" color="warning">Block Button</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="btn" color="danger">Block Button</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="primary">Block Button</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="dark">Block Button</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="warning">
          <ion-icon name="globe-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="danger">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="primary">
          <ion-icon name="build-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="dark">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

